<p><%= message %></p>

<form action="/create" method ="post">
  <div class="form-group">
    <label for="fact">fact:</label>
    <input type="text" class="form-control" name="fact" id="fact" required>
  </div>
   <div class="form-group">
    <label for="citation">citation:</label>
    <input type="text" class = "form-control" name="citation" id="citation">
  </div>
  <div class="form-group">
    <input type="submit" value="Sign Up" class ="btn btn-primary">
  </div>
</form>