<p><%= message %></p>

<form action="/create" method ="post" class="funfact-form">
  <div class="funfact-form-group">
    <label for="fact">fact</label><br>
    <input type="text" class="form-control" name="fact" id="fact" placeholder="I discovered that..." required>
  </div>
   <div class="funfact-form-group">
    <label for="citation">citation</label><br>
    <input type="text" class = "form-control" name="citation" id="citation" placeholder="Citation needed!">
  </div>
  <div class="funfact-form-group">
    <input type="submit" value="Share your fact!" class ="btn btn-primary">
  </div>
</form>