<ul class="masonry-container">
  <li class="masonry-sizer">
  </li>
  <% for(i=0; i < facts.reverse().length; i++) { %>
    <li class="masonry-item">
      <p>Fact #<%= i+1 %></p>
      <div class="funfact-fact">  	
	      <%= facts[i].fact %>
      </div>

      <% if (facts[i].citation){ %>
      <div class="funfact-citation">      	
        <a href="<%= facts[i].citation %>"> Read More &raquo;</a>
      </div>

      <% } %>
    </li>
  <% } %>
</ul>