<ul>
  <% for(i=0; i < facts.length; i++) { %>
    <li>
      <%= facts[i].fact %>
      <% if (facts[i].citation){ %>
        <a href="<%= facts[i].citation %>"> Read More &raquo;</a>
      <% } %>
    </li>
  <% } %>
</ul>