<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FUNFACT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/../styles/style.css">
  </head>


  <body>

    <header>
      <div class="row">
        <h1 class="site-title">Funfact!</h1>
      </div>
    </header>

    <div class="content row">
      <% include partials/_form.ejs%>
      
      <% include partials/_masonry.ejs%>

      </div> <!-- end content -->
      <footer>
        <div class="row">
          
      	   FOOTER
        </div>
      </footer>
    <script src="/../js/masonry.min.js"></script>
    <script>
      $(window).load(function() {
        $('.masonry-container').masonry({
          itemSelector: '.masonry-item',
          gutter: 40
        });
      });
    </script>
  </body>
</html>