<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FUNFACT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>


  <body>
    <h1 class="site-title">PAGE TITLE</h1>

    <header>
      HEADER
    </header>

    <div class="content">
      <% include partials/_form.ejs%>
        
		  Here's the page!

      <% include partials/_masonry.ejs%>

      </div> <!-- end content -->
    <footer>
      
	   FOOTER

    </footer>
  </body>
</html>